.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
td {
  justify-content: center;
}
th {
  padding-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

.ListIcon {
  margin-left: 3px;
  margin-right: 3px;
}
